web_app/settings_secret.py
.DS_Store

web_app/__ pycache__/*
translation/__ pycache__/*
.ebextensions/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
