{% load staticfiles %}
<html>
<head>
    <title>Translation</title>    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script src="{% static 'js/javascript.js' %}"></script>         
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">  
</head>
<body>
    <section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
            <hgroup>

            <h1 class="free">Translation</h1>
            <h4>
                Help you translate by speech.&emsp;                             
            </h4>               
            </hgroup>
            <div class="well">
                <form action="" method="get">
                    <div class="input-group">
                        <input class="btn-lg" size="16" name="username" id="name" type="text" placeholder="Your Name">
                        &nbsp;
                        <select class="language" name="source_lan">
                            <option value="zh-TW">中文</option>
                            <option value="en-US" selected >英文</option>
                            <option value="ja">日文</option>
                            <option value="th-TH">泰文</option>
                        </select> 
                        to 
                        <select class="language" name="target_lan">
                            <option value="ja">日文</option>
                            <option value="zh-TW" selected >中文</option>
                            <option value="en-US">英文</option>
                            <option value="th-TH">泰文</option>
                        </select> 
                        &nbsp;                        
                        <button class="btn btn-mic btn-talk" type="submit" value="SR">
                            <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" width=40px height=40px />
                        </button>
                    </div>
                    <small class="promise"><em>Enter your name and click the button to speak.</em></small>

                </form>
                <p></p>
                <p></p>
                {%if flag%}
                <div>
                    <span style="display:inline-block;" id="tb-testimonial" class="testimonial testimonial-info">
                        <div class="testimonial-section">
                            {{Speech}}
                        </div>
                       
                    </span>
                    <button  style="display:inline-block;" class="btn btn-voice btn-lg btn-play" onclick="PlaySrcSound()" width=40px height=40px>
                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    </button>                     
                    <p></p> 
                    <p></p>       
                    <span style="display:inline-block;" id="tb-testimonial" class="testimonial testimonial-success">
                        <div class="testimonial-section">
                            {{TranslateResult}}
                        </div>
                       
                    </span> &emsp; 
                    <button  style="display:inline-block;" class="btn btn-voice btn-lg btn-play" onclick="PlayResultSound()" width=40px height=40px>
                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    </button> 
                </div> 
                <script>
                    var bflatSource = new Audio();
                    var bflatResult = new Audio();
                    bflatSource.src = "{{SRCurl}}";
                    bflatResult.src = "{{Mp3url}}";
                    function PlaySrcSound() {
                        bflatSource.play();
                    }
                    function PlayResultSound() {
                        bflatResult.play();
                    }
                </script>                           
                {%endif%}
            </div>
            </div>
        </div>
    </div>
    </section>


                
    <table id="mytable" class="table table-bordred table-striped">            
        <thead>       
            <th>Username</th>
            <th>Time</th>
            <th>Source language</th>
            <th>Input word</th>
            <th>Target language</th>
            <th>Translation result</th> 
            <th>Delete</th>
        </thead>
        <tbody>
    
        <tr>
            <td>Amy</td>
            <td>2016/5/3 15:45</td>
            <td>英文</td>
            <td>Hello<p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-play"></span></button></p></td>
            <td>中文</td>
            <td>你好<p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-play"></span></button></p></td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
        </tr>
        </tbody>
        
    </table>
</body>
</html>
